*{
    margin:0px;
    padding:0px;
}
body{
    background: radial-gradient(rgb(125, 197, 246),rgb(2, 120, 255),rgb(2, 82, 255));
    width:100%;
    height:100vh;
}
#main{
    width:450px;
    height:500px;
    background-color: white;
    margin: auto;
    margin-top:100px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius:2rem;
}
#ban{
    margin-top:25px;
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#Un{
    font-family: Arial, Helvetica, sans-serif;
    font-size:25px;
    font-weight: bold;
}
#Username,#Password{
    border:2px solid grey;
    border-radius:3rem;
    height:25px;
    width:100%;
    padding:5px;
    flex:1;
}
#Username{
    margin-top: 40px;
}
#Password{
    margin-top: 60px;
}
#input{
    width:80%;
}

#pw{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:25px;
    font-weight: bold;
}
#btn{
    margin-bottom: 20px;
    height:30px;
    width:100px;
    border:1px solid white;
    border-radius:5px;
    background-color: rgb(0, 140, 255);
}
#msg{
    margin-bottom:10px;
}
#signup{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold;
}
#signup a{
    text-decoration: none;
    font-weight: bolder;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(0,140,255);
}
@media(max-width:600px){
    #main{
        width:80%;
        height:400px;
        margin-top: 150px;
        border-radius:7px;
        border:solid 1px rgb(6, 198, 241);
    }
    #Un,#pw{
        font-size: 18px;
    }
}