*{
    padding: 0;
    margin: 0;
}
body{
    background-color: whitesmoke;
    height:100vh;
    
}
#banner{
    height: 65px;
    width:100%;
    position:fixed;
    z-index: 1000;
    padding:10px;
    background-color: rgb(49, 49, 49);
    top :0px;
}
#banner p{
    color:white;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
}
#nav{
    display:block;
    height: 50px;
    width:100%;
    position:fixed;
    z-index: 1000;
    padding:5px;
    background-color: rgb(49, 49, 49);
    top:65px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
   
}
#nav a{
    color:azure;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding:5px;
}
#nav a:hover{
    background-color: rgb(83, 84, 84);
}
#search{
    height: 50px;
    width:100%;
    position:fixed;
    z-index: 1000;
    padding:5px;
    background-color: rgb(49, 49, 49);
    top:115px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#search input{
    height:30px;
    width:50%;
    padding:5px;
    border:0px;
    border-radius:3rem;
    margin:10px;
}
#search button{
    height:40px;
    width:40px;
    padding:5px;
    border:0px;
    border-radius:4rem;
}
#search button i{
    color:rgb(49, 49, 49);
}
#current{
    margin-top:200px;
}
#msg{
    display: none; 
    position: relative; 
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: rgb(49, 49, 49); 
    margin-top: 350px; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#panel {
    display: flex;
    flex-direction: row;
    overflow-x: auto;       
    gap: 20px;              
    padding: 15px;
    width: 90%;
    height: 220px;
    border-radius: 2rem;
    background-color: rgba(49, 49, 49, 0.7);
    margin: 30px auto;
    scroll-behavior: smooth;
    opacity:0;
}

#panel::-webkit-scrollbar {
    height: 8px;            
}

#panel::-webkit-scrollbar-thumb {
    background: gray;      
    border-radius: 10px;
}

.hour {
    min-width: 120px;       
    padding: 10px;
    background: rgb(49,49,49);
    color: white;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 1rem;
    text-align: center;
    line-height: 30px;
}

.hour img {
    height: 60px;
}
#current{
    padding:10px;
    display:flex;
    flex-direction:column;
    line-height: 70px;
}
#loc{
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
}
#time{
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    letter-spacing: 3px;
    margin-left:35px;
}
#type{
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    letter-spacing: 2px;
    margin-left:35px;
}
#image{
    margin-left:35px;
}
#ham{
    color:white;
    background-color:rgb(49, 49, 49);
    border:0;
    margin:15px;
}
#ham i{
    font-size:35px;
}
@media(max-width:600px){
    #nav{
        display: none;
        flex-direction: column;
        background-color: rgba(49,49,49);
        position: absolute;
        top: 60px;
        left: 10px;
        width: 170px;
        padding: 10px;
        height:fit-content;
        z-index: 10000;
    }
    #search{
        top:65px;
    }
    #nav a {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bold;
        padding: 10px;
        text-decoration: none;
        color: white;
        display: block;
        width:100%;
    }
    #panel {
        display: flex;
        flex-direction: row;
        overflow-x: auto;       
        gap: 20px;              
        padding: 15px;
        width: 90%;
        height: 220px;
        border-radius: 2rem;
        background-color: rgba(49, 49, 49, 0.7);
        margin: 30px auto;
        scroll-behavior: smooth;
        opacity:0;
    }
}
@media(min-width:601px){
    #ham{
        display:none;
    }
}