*{
    margin:0px;
    padding:0px;
}
body{
    background: radial-gradient(rgb(125, 197, 246),rgb(2, 120, 255),rgb(2, 82, 255));
    width:100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main{
    width:500px;
    height:500px;
    background-color: white;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius:3rem;
}
#ban{
    margin-top:15px;
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#input{
    width:80%;
}

#Username,#Password,#CPassword{
    border:2px solid grey;
    border-radius:3rem;
    height:25px;
    width:200px;
    padding:5px;
    margin-top: 50px;
    width:100%;
    flex:1;
}


#btn{
    margin-bottom: 20px;
    height:30px;
    width:100px;
    border:1px solid white;
    border-radius:5px;
    background-color: rgb(0, 140, 255);
}
#msg{
    margin-bottom:10px;
}
@media(max-width:600px){
    #main{
        width:80%;
        height:400px;
        margin-top: 150px;
        border-radius:7px;
        border:solid 1px rgb(6, 198, 241);
    }
    #Un,#pw,#cpw{
        font-size: 18px;
    }
}
