*{
    padding: 0;
    margin: 0;
}
body{
    background-color: whitesmoke;
    height:100vh;
    background-size: cover;   
    background-repeat: no-repeat;
    background-position: center;
    
}
#banner{
    height: 65px;
    width:100%;
    position:fixed;
    z-index: 1000;
    padding:10px;
    background-color: rgb(49, 49, 49);
    top :0px;
}
#banner p{
    color:white;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
}
#nav{
    height: 50px;
    width:100%;
    position:fixed;
    z-index: 1000;
    padding:5px;
    background-color: rgb(49, 49, 49);
    top:65px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
   
}
#nav a{
    color:azure;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding:5px;
}
#nav a:hover{
    background-color: rgb(83, 84, 84);
}
#search{
    height: 50px;
    width:100%;
    position:fixed;
    z-index: 1000;
    padding:5px;
    background-color: rgb(49, 49, 49);
    top:115px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#search input{
    height:30px;
    width:50%;
    padding:5px;
    border:0px;
    border-radius:3rem;
    margin:10px;
}
#search button{
    height:40px;
    width:40px;
    padding:5px;
    border:0px;
    border-radius:4rem;
}
#search button i{
    color:rgb(49, 49, 49);
}
#climate{
    margin-top: 200px; 
    height: 350px;
    width: 500px;
    border-radius: 1rem;
    background-color: rgba(49, 49, 49, 0.8);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    color:white;
    display:block;
    opacity:0;
}

#loc{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#type{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 15px;
    letter-spacing: 3px;
}
#img{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:10px;
}
#icon{
    height:100px;
    width:100px;
}
#time{
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    letter-spacing: 8px;
}
#info{
    white-space: pre-line;
    font-size: 18px;
    line-height: 28px;
    margin-right: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#msg{
     display: none; 
    position: relative; 
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: rgb(49, 49, 49); 
    margin-top: 350px; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#ham{
    color:white;
    background-color:rgb(49, 49, 49);
    border:0;
    margin:15px;
}
#ham i{
    font-size:35px;
}
#mob{
    margin-top:150px;
    display:flex;
    flex-direction:column;
    line-height: 60px;
    opacity: 0;
    margin-bottom: 10px;
}
#mloc{
    font-size: 25px;
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    letter-spacing: 2px;
}
#mtime{
    font-size: 50px;
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
    margin-left:35px ;
}
#mtype{
    font-size: 40px;
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    margin-left:35px ;
}
#mimg{
    margin-left:30px;
}
#minfo{
    display:flex;
    flex-direction:column;
    margin-top: 30px;
    width:75%;
    height:fit-content;
    background-color: rgb(49, 49, 49,0.75);
    margin-left: auto;
    justify-content:flex-start;
    align-items: center;
    margin-right: auto;
    border-radius:2rem;
}
.box{
    width:90%;
    height:160px;
    margin:10px;
    border-radius: 2rem;
    background-color: rgb(45,45,45);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    line-height: 35px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-weight: bolder;
    color: white;
}
.pic i{
    font-size: 35px;
}
.value{
    font-size: 22px;
}

@media(max-width:600px){
    #nav{
        display: none;
        flex-direction: column;
        background-color: rgba(49,49,49);
        position: absolute;
        top: 60px;
        left: 10px;
        width: 170px;
        padding: 10px;
        height:fit-content;
        z-index: 10000;
    }
    #nav a {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bold;
        padding: 10px;
        text-decoration: none;
        color: white;
        display: block;
        width:100%;
    }
    #home{
        background-color: rgba(63,63,63);
    }

    #search{
        top:65px;
    }
    #climate{
        display:none;
        opacity: 0;
    }
    #mob{
        display: block;
    }
    body{
        height:100%;
    }
}
@media(min-width:601px){
    #ham{
        display:none;
    }
    #mob{
        display:none;
    }
    #climate{
        display:block;
    }
}
